<style>
h3{
  padding-top:50px;
}
</style>

<h1>Stats</h1>
<a href="/sidekiq">View SideKiq Jobs</a>

<h3>Lawyers</h3>
<p class="total">Total: <b><%= number_to_human(@number_of_lawyers) %></b></p>
<div class="by-day">
  <% @lawyers_created_by_day.each do |day| %>
    <p><b><%= day[0].strftime('%D') %>:</b> <span> <%=day[1] %></span></p>
  <% end %>
</div>

<h3>URLs</h3>
<p class="total">Total: <b><%= number_to_human(@number_of_urls) %></b></p>
<div class="by-day">
  <% @urls_created_by_day.each do |day| %>
    <p><b><%= day[0].strftime('%D') %>:</b> <span> <%=day[1] %></span></p>
  <% end %>
</div>

<h3>Stocks</h3>
<p class="total">Total: <b><%= number_to_human(@number_of_stocks) %></b></p>
<div class="by-day">
  <% @stocks_created_by_day.each do |day| %>
    <p><b><%= day[0].strftime('%D') %>:</b> <span> <%=day[1] %></span></p>
  <% end %>
</div>

<h3>Prices</h3>
<p class="total">Total: <b><%= number_to_human(@number_of_prices) %></b></p>
<div class="by-day">
  <% @prices_created_by_day.each do |day| %>
    <p><b><%= day[0].strftime('%D') %>:</b> <span> <%=day[1] %></span></p>
  <% end %>
</div>
